
section{
    margin-bottom:25%;
    margin-top:25%;
 }


h1{
    font-family: inter;
    font-style: Bold;
}
h2{
    font-family: inter;

}
h3{
    font-family: inter;
    font-style: semi-bold;
    padding-bottom: 2%;
}
h4{
    font-family: inter;
    font-style: medium;

}
p{ font-family: inter;
    font-style: regular;
    color: #828282;
}

/* me */

.meColIcon{
    max-width: 4%;
    margin-bottom: 2%;
}

/* skills */

.skillsContainerDiv{
    margin: auto;
    padding-left:5% ;
    padding-right: 5%;
}

/* experiences */
.experiencesGridDiv{
    max-width: 10%;
    padding: 1%;
}
.experiencesColImg{
    margin:auto;
}
.experiencesColDiv{
    margin:auto;
}
button{
    color: #FFF;
}

/* certif */

.certificatesContainerDiv{
    margin: auto;
}

.certificatesColDiv{
    max-height: 100%;
    margin: auto;
}

@media (max-width: 768px){
    .certificatesColDiv{
        max-width: 100%;
        margin: auto;
    }
  }

.certificatesColDivImg{
    max-height: 90%;
    width: auto;
}


@media (min-width: 992px){
    .meDiv{
        max-width: 60%;
    }
  }

 /* technologies */

.technologiesDivDiv{
margin: auto;
width: auto;
max-height: 60%;
}

.hiddenZ{
    opacity:0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
    }

.hiddenZ:nth-child(2){
transition-delay: 300ms;
}  
.hiddenZ:nth-child(3){
    transition-delay: 500ms;
    } 
.hiddenZ:nth-child(4){
  transition-delay: 700ms;
        } 
.hiddenZ:nth-child(5){
            transition-delay: 900ms;
            }  
            
.hiddenZ:nth-child(6){
                transition-delay: 1100ms;
                
                } 
   
.hiddenY{
opacity:0;
filter: blur(5px);
transform: translateY(100%);
transition: all 2s;

}
.hiddenY:nth-child(2){
transition-delay: 300ms;
}

.hiddenY:nth-child(3){
transition-delay: 500ms;
}

.hiddenY:nth-child(4){
    transition-delay: 700ms;
    }

.hiddenY:nth-child(5){
transition-delay: 900ms;
}

.hiddenY:nth-child(6){
    transition-delay: 1100ms;
    }



.show{
opacity: 1;
filter: blur(0);
transform: translateY(0);
}


