
section{
    margin-bottom:15%;
    margin-top:15%;
 }


h1{
    font-family: inter;
    font-style: Bold;
}
h2{
    font-family: inter;

}
h3{
    font-family: inter;
    font-style: semi-bold;
    padding-bottom: 2%;
}
h4{
    font-family: inter;
    font-style: medium;

}
p{ font-family: inter;
    font-style: regular;
    color: #828282;
}
a{
    text-decoration: none;
}

/* me */

.meColIcon{
    max-width: 4%;
    margin-bottom: 2%;
}

.maxheight100{
    max-height: 100%;
}

.maxheight80{
    max-height: 80%;
}

.maxheight60{
    max-height: 60%;
}
.maxwidth60{
    max-width: 60%;
}
.maxwidth90{
    max-width: 90%;
}
@media (max-width: 992px){
    .maxwidth60{
        max-width: 100%;
    }
  }
 /* technologies */



.hiddenZ{
    opacity:0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.hiddenZ:nth-child(2){
    transition-delay: 200ms;
}  
.hiddenZ:nth-child(3){
    transition-delay: 300ms;
} 
.hiddenZ:nth-child(4){
    transition-delay: 400ms;
} 
.hiddenZ:nth-child(5){
    transition-delay: 500ms;
}      
.hiddenZ:nth-child(6){
    transition-delay: 600ms;
} 
   
.hiddenY{
opacity:0;
filter: blur(5px);
transform: translateY(100%);
transition: all 2s;
}
.hiddenY:nth-child(2){
    transition-delay: 200ms;
}
.hiddenY:nth-child(3){
    transition-delay: 300ms;
}
.hiddenY:nth-child(4){
    transition-delay: 400ms;
}
.hiddenY:nth-child(5){
    transition-delay: 500ms;
}
.hiddenY:nth-child(6){
    transition-delay: 600ms;
}
.hiddenY:nth-child(7){
     transition-delay: 700ms;
}

.show{
opacity: 1;
filter: blur(0);
transform: translateY(0);
}


