
section{
    margin-bottom:5%;
    margin-top:5%;
 }


h1{
    font-family: inter;
    font-style: Bold;
}
h2{
    font-family: inter;

}
h3{
    font-family: inter;
    font-style: semi-bold;
    padding-bottom: 2%;
}
h4{
    font-family: inter;
    font-style: medium;

}
p{ font-family: inter;
    font-style: regular;
    color: #828282;
}

/* me */

.meColIcon{
    max-width: 24px;
    margin-bottom: 2%;
}

/* skills */

.skillsContainerDiv{
    margin: auto;
    padding-left:5% ;
    padding-right: 5%;
}

/* experiences */

.experiencesColImg{
    margin:auto;
}
.experiencesColDiv{
    margin:auto;
}
button{
    color: #FFF;
}

/* certif */

.certificatesContainerDiv{
    margin: auto;
}

.certificatesColDiv{
    max-width: 80%;
    margin: auto;
}

.technologiesDivDiv{
margin: auto;
padding: 10%;
height: fit-content;
}
  
@media (max-width: 768px){
    .certificatesColDiv{
        max-width: 90%;
        margin: auto;
    }
  }


@media (min-width: 992px){
    .meDiv{
        max-width: 60%;
    }
  }

 /* technologies */





